@import "reset";

*,
*::before,
*::after {
}

body {
    transition: color 0.5s,
    background-color 0.5s;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.user-theme {
    font-family: 'Poppins', sans-serif;
}

body.admin-theme {
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    /*  Admin  */
    --admin-theme-color: #4880FF;
    --user-theme-color: #FF4500C7;
}

a {
    text-decoration: none;
}

.no-text-decoration {
    a {
        text-decoration: none;
        color: #000;

        &:hover {
            text-decoration: underline;
        }

    }
}

.admin-page {
    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__search-container {
        display: flex;
        align-items: center;
        width: 450px;
        gap: 5px;
    }

    &__search-input {
        width: 350px;
        height: 36px;
        font-size: 14px;
    }

    &__heading--right {
        display: flex;
        gap: 10px
    }
}

.icon--nicer {
    margin-top: 2px;
}

.action-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100px;
    height: 32px;
    padding: 10px 13.5px;
    background-color: #FAFBFD;
}

.divider {
    width: 0.5px;
    height: 50px;
    background-color: #ccc;
}

.error-message {
    color: red;
}

label {
    user-select: none;
}

// Users
.user-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: var(--user-theme-color);
    color: #fff;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.user-btn:hover {
    background-color: rgba(227, 64, 0, 0.78);
    cursor: pointer;
}



