@import "reset.css";

*,
*::before,
*::after {
}

body {
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*  Admin  */
    --admin-theme-color: #4880FF;
    --user-theme-color: #FF4500C7;
}

a {
    text-decoration: none;
}

.admin-page-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .admin-search-input {
        width: 350px;
        height: 36px;
        font-size: 14px;
    }
}

.admin-page-heading--right {
    display: flex;
    gap: 10px
}

.admin-search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon--nicer {
    margin-top: 2px;
}


