@import "reset.css";

*,
*::before,
*::after {
}

body {
    transition:
            color 0.5s,
            background-color 0.5s;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /*  Admin  */
    --admin-theme-color: #4880FF;
    --user-theme-color: #FF4500C7;
}

a {
    text-decoration: none;
}